@import "tailwindcss";

@utility bg-hero {
  background-image: url('../assets/bg-hero.jpg'); /* caminho da sua imagem */
}

@utility primary-blue {
  color: #106EB0;
}

@utility primary-orange {
  color: #EC7000;
}

@utility primary-gray {
  color: #33303E;
}

@utility second-gray {
  color: #4E4859;
}

@utility gray-phone {
  color: #F4F4F4;
}

@utility txt-gray {
  color: #7A7786;
}

@utility opacity-gray {
  color: rgba(100, 80, 57, 0.1);
}